<div class="menu">
    <ul class="main-menu">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/latestPosts">Latest posts</a></li>
        <li><a href="/feed">Feed</a></li>
        <li><a href="/users">Users</a></li>
        <li class="menu-children"><a href="/myProfile">My profile</a>
            <ul>
                <li><a href="/myPosts">My posts</a></li>
                <li><a href="/achievements">Achievements</a></li>
                <li><a href="/subscriptions">My subscriptions</a></li>
            </ul>
        </li>
        <li><a href="/logout">Sign Out</a></li>
    </ul>
</div>