<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miniblog | Subscriptions</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div class="menu">
    <ul class="main-menu">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/latestPosts">Latest posts</a></li>
        <li><a href="/feed">Feed</a></li>
        <li><a href="/users">Users</a></li>
        <li class="menu-children"><a href="/myProfile">My profile</a>
            <ul>
                <li><a href="/myPosts">My posts</a></li>
                <li><a href="/achievements">Achievements</a></li>
                <li><a href="/subscriptions">My subscriptions</a></li>
            </ul>
        </li>
        <li><a href="/logout">Sign Out</a></li>
    </ul>
</div>

<div class="allcontent">
    <div class="content">
            <h1>Users</h1>
            {{#users}}
            <div class="userForm">
                <form name="userForm" action="/subscribe" method="post">
                    <div class="user">
                        <h2>User #{{id}}. Nickname: {{nickname}}</h2>
                    </div>
                    <input type="hidden" name="id" value = "{{id}}">
                    <div><input class="btn" type="submit" value="Subscribe"/></div>
                </form>
            </div>
            {{/users}}
    </div>
</div>
</body>
</html>